<section class="about position-relative mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about-content text-white">
                    <h2 class="">About Us</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an</p>
                    <img src="assets/images/Rectangle 263.png" alt="" class="mw-100">
                </div>
            </div>
            <div class="col-lg-6 offset-sm- offset-lg-1 where position-relative ">
                <div class="where-content text-end text-white mb-5">
                    <h2 class="">Where</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="help">
                    <button class="btn btn-warning">Help Me</button>
                </div>
            </div>
        </div>
    </div>
</section>