<section class="services py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="main-header">Services
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0 border-0">
                    <img src="assets/images/service-01.png" class="" alt="service-01">
                    <div class="card-body p-3">
                        <h4 class="pb-2">Lorem Ipsum</h4>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0 border-0">
                    <img src="assets/images/services-02.png" class="" alt="service-02">
                    <div class="card-body p-3">
                        <h4 class="pb-2">Lorem Ipsum</h4>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0 border-0" >
                    <img src="assets/images/services-02.png" class="service3" alt="service-03">
                    <div class="card-body p-3">
                        <h4 class="pb-2">Lorem Ipsum</h4>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="help mt-5 text-center">
                    <button class="btn text-white">Help Me</button>
                </div>
            </div>
        </div>
    </div>
</section>