<section class="testimonials my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="main-header">Testimonials
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="testimonial-content d-flex px-3 py-4 bg-white">
                    <div class="testimonial-img pe-2">
                        <img src="assets/images/testimonials.png" alt="" class="rounded-circle">
                    </div>
                    <div class="testimonial-caption">
                        <h5>Courtney Henry</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="rates mt-2">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="testimonial-content d-flex px-3 py-4 bg-white">
                    <div class="testimonial-img pe-2">
                        <img src="assets/images/testimonials.png" alt="" class="rounded-circle">
                    </div>
                    <div class="testimonial-caption">
                        <h5>Courtney Henry</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="rates mt-2">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="testimonial-content d-flex px-3 py-4 bg-white">
                    <div class="testimonial-img pe-2">
                        <img src="assets/images/testimonials.png" alt="" class="rounded-circle">
                    </div>
                    <div class="testimonial-caption">
                        <h5>Courtney Henry</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="rates mt-2">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="testimonial-content d-flex px-3 py-4 bg-white">
                    <div class="testimonial-img pe-2">
                        <img src="assets/images/testimonials.png" alt="" class="rounded-circle">
                    </div>
                    <div class="testimonial-caption">
                        <h5>Courtney Henry</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="rates mt-2">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>