<section class="home  vh-100  d-flex  align-items-center justify-content-end mb-4">
  <div class="container main-content">
    <div class="content bg-dange text-center">
        <div class="round-rock d-flex justify-content-end text-start align-items-center" >
            <div class="truck-img pt-">
                <img src="assets/images/Trash Hauling.png" alt="trash" class="pe-3 align-middle">
            </div>
            <div class="title">
                <h3 class="fw-light mb-0">Round Rock</h3>
                <span>Trush Hauling</span>
            </div>
        </div> 
        <div class="experts-btn  mb-2 text-end" >
            <button class="btn text-white text-center">Experts</button>
           </div>  
           <div class="main-title text-center">
            <h1 class="">Lorem<br><span>Lorem lorem</span></h1>
           </div>
           <div class="desc fw-light">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
           </div> 
           <div class="help-btn">
            <button class="btn text-white">Help Me</button>
           </div>
    </div>
  </div>
      
  
</section>


